* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #7f8ea0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #7f8ea0;
    color: #1c2389;
    padding: 1rem 0;
    text-align: center;

}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
    flex: 1;
}

footer {
    background: #7f8ea0;
    text-align: center;
    padding: 1rem 0;
}